<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Report Form</title>
</head>
<body>
    <h1>Crime Report Form</h1>
    <form action="/submit_report" method="post">
        <label for="DR_NO">DR Number:</label>
        <input type="number" id="DR_NO" name="DR_NO"><br><br>

        <label for="Date_Rptd">Date Reported:</label>
        <input type="date" id="Date_Rptd" name="Date_Rptd"><br><br>

        <label for="DATE_OCC">Date Occurred:</label>
        <input type="date" id="DATE_OCC" name="DATE_OCC"><br><br>

        <label for="TIME_OCC">Time Occurred:</label>
        <input type="time" id="TIME_OCC" name="TIME_OCC"><br><br>

        <label for="AREA">Area:</label>
        <input type="number" id="AREA" name="AREA"><br><br>

        <label for="AREA_NAME">Area Name:</label>
        <input type="text" id="AREA_NAME" name="AREA_NAME"><br><br>

        <label for="Rpt_Dist_No">Report District Number:</label>
        <input type="number" id="Rpt_Dist_No" name="Rpt_Dist_No"><br><br>

        <label for="Part_1_2">Part 1 or 2:</label>
        <input type="number" id="Part_1_2" name="Part_1_2"><br><br>

        <label for="Crm_Cd">Crime Code:</label>
        <input type="number" id="Crm_Cd" name="Crm_Cd"><br><br>

        <label for="Crm_Cd_Desc">Crime Code Description:</label>
        <input type="text" id="Crm_Cd_Desc" name="Crm_Cd_Desc"><br><br>

        <label for="Mocodes">MO Codes:</label>
        <input type="text" id="Mocodes" name="Mocodes"><br><br>

        <label for="Vict_Age">Victim Age:</label>
        <input type="number" id="Vict_Age" name="Vict_Age"><br><br>

        <label for="Vict_Sex">Victim Sex:</label>
        <input type="text" id="Vict_Sex" name="Vict_Sex"><br><br>

        <label for="Vict_Descent">Victim Descent:</label>
        <input type="text" id="Vict_Descent" name="Vict_Descent"><br><br>

        <label for="Premis_Cd">Premise Code:</label>
        <input type="text" id="Premis_Cd" name="Premis_Cd"><br><br>

        <label for="Premis_Desc">Premise Description:</label>
        <input type="text" id="Premis_Desc" name="Premis_Desc"><br><br>

        <label for="Weapon_Used_Cd">Weapon Used Code:</label>
        <input type="text" id="Weapon_Used_Cd" name="Weapon_Used_Cd"><br><br>

        <label for="Weapon_Desc">Weapon Description:</label>
        <input type="text" id="Weapon_Desc" name="Weapon_Desc"><br><br>

        <label for="Status">Status:</label>
        <input type="text" id="Status" name="Status"><br><br>

        <label for="Status_Desc">Status Description:</label>
        <input type="text" id="Status_Desc" name="Status_Desc"><br><br>

        <label for="Crm_Cd_1">Crime Code 1:</label>
        <input type="text" id="Crm_Cd_1" name="Crm_Cd_1"><br><br>

        <label for="LOCATION">Location:</label>
        <input type="text" id="LOCATION" name="LOCATION"><br><br>

        <label for="Cross_Street">Cross Street:</label>
        <input type="text" id="Cross_Street" name="Cross_Street"><br><br>

        <label for="LAT">Latitude:</label>
        <input type="text" id="LAT" name="LAT"><br><br>

        <label for="LON">Longitude:</label>
        <input type="text" id="LON" name="LON"><br><br>

        <label for="Day_of_Week">Day of Week:</label>
        <input type="text" id="Day_of_Week" name="Day_of_Week"><br><br>

        <label for="Age_Group">Age Group:</label>
        <input type="text" id="Age_Group" name="Age_Group"><br><br>

        <label for="Month">Month:</label>
        <input type="text" id="Month" name="Month"><br><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
